:root {
	--dark: #212121;
	--darker: #1e1e1e;
	--bold: #d1c097;
	--white: #d4d4d4;
	--neutral: #8c8c8c;
}
* {
	margin: 0;
	padding: 0;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}
.margin {
	max-width: 1200px;
	margin: auto;
}
h1 {
	font-size: 3.5rem;
	line-height: 5.6rem;
	font-family: 'Oswald', sans-serif;
	color: var(--white);
}
h2 {
	font-size: 2.5rem;
	color: var(--white);
	font-family: 'Oswald', sans-serif;
}
h3 {
	font-size: 1.7rem;
	color: var(--bold);
	font-family: 'Oswald', sans-serif;
}
p, article {
	font-size: 1rem;
	line-height: 1.6rem;
}
section {
	padding: 7rem 5rem;
}

body {
	background-color: var(--dark);
	color: var(--neutral);
	font-family: 'Lato', sans-serif;
	text-align: center;
}

nav {
	color: var(--white);
	background-color: var(--dark);
	padding: 0 1rem;
}

header {
	background: linear-gradient(#21212151 80%,var(--dark) 100%), url(images/tatoo.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}
header img {
	width: 300px;
	border-radius: 50%;
	margin-bottom: 2rem;
}
header p {
	color: var(--bold);
	letter-spacing: 2rem;
}

.presentation .citation {
	width: 60%;
	margin: auto;
}
.citation p:last-of-type {
	color: var(--bold);
}
.pres_grid {
	margin-top: 5rem;
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
}
.grid_item * {
	width: 100%;	/* align items doesn't work because of flex, so... */
}
.grid_item img {
	width: 100%;
	height: 100%;
}
.grid_item p:last-child {
	color: var(--white);
}
.grid_item p:nth-child(2) {
	margin-bottom: 1rem;
}
.grid_item:nth-child(3), .grid_item:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 2.5rem;
}
.grid_item:nth-child(2) {
	text-align: left;
}
.grid_item:nth-child(3) {
	text-align: right;
}

.work {
	background-color: var(--darker);
}
.work_grid {
	display: grid;
	grid-template: 1fr / 1fr 1fr 1fr;
	margin-top: 3rem;
}
.work_item {
	background-image: url(images/vertical.jpg);
	background-position: center;
	background-size: cover;

	height: 60vh;

	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.work_item:nth-child(2) {
	background-image: url(images/tatoo.jpg);
}
.work_item:hover {
	filter:sepia(.5);
	transition: .3s;
}
.work_item h3 {
	margin-bottom: 2rem;
}

.history p:first-of-type {
	color: var(--bold);
}
article {
	width: 60%;
	margin: 3rem 0;
}
.history .statistics {
	width: 100%;
	display: grid;
	gap: 3px;
	background-color: var(--white);
	grid-template: 1fr / 1fr 1fr 1fr 1fr;
}
.statistic {
	background-color: var(--dark);
}
.statistic p {
	color: var(--white) !important;
}

footer {
	background-color: var(--darker);
	padding: 5rem 0;
}
footer img {
	width: 250px;
	border-radius: 50%;
}

@media(max-width: 600px) {
	html {
		font-size: 85%;
	}
	.work_item {
		height: 40vh;
	}
}
@media(max-width: 400px) {
	html {
		font-size: 90%;
	}

	.flex {
		width: 100%;
	}
	section {
		padding: 5rem 0;
	}

	header {
		text-align: center;
	}
	header img {
		width: 200px;
	}

	.pres_grid {
		grid-template: 1fr 1fr 1fr 1fr / 1fr;
		row-gap: 3rem;
	}

	article {
		width: 90%;
	}
	.history .statistics {
		grid-template: 1fr 1fr / 1fr 1fr;
	}
	.statistic {
		padding: 1rem;
	}
}